.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 9%
    right: 74%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 44%
  &-3
    animation: float1 1.8s ease-in-out infinite alternate
    position: absolute
    top: 17%
    right: 58%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.banner-interno__fondo
  background-image: url(../assets/curso/portada/fondo-banner.svg)  !important 
.fnd-1    
  background-color: #FFDFC9 !important
  &-1
    background-color: #DDE5D3 !important
  &-2
    background-color: #F5F5F5
  &-3
    background-color: #FAFAFA
.fnd-2
  position: relative
  width: 100%
  background-image: url(../assets/curso/temas/tema1/fnd-2.png)
  background-size: cover
  background-position: 0 0
  background-repeat: no-repeat    
  &-2
    background-image: url(../assets/curso/temas/tema2/fnd-1.png)

  .slyder-a__btn--sigt, .slyder-a__btn--atrs 
      background-color: #FF964C
      
  .slyder-a__bullets__item--active 
      background-color: #FF964C !important
      border-color: #FF964C !important
      opacity: 1
  .slyder-a__bullets__item 
      background-color: #fff    

.t-g    
  color:#8C492A
  font-size: 1em
  font-weight: 900
  line-height: 1.2
  margin: 0 0 0.75em
  
.tit-1
  background-color: #FFCE79
  border-radius: 1rem
  padding: 0.7rem 1rem
  display: inline-block
  
.fnd-1-3
  position: relative 
  &::before
    content: ''
    position: absolute
    background-color: #263b0b
    border-radius: 25px
    z-index: 0
    right: 12%
    width: 80%
    height: 65%
    padding: 0.5rem
    @media (max-width: 576px) 
        
      right: 3%
      width: 86%

  img
    position: relative 
    z-index: 1
    margin-right: 0.5rem 

  .tit-2
    position: relative 
    z-index: 1
    color: #fff 
    font-size: 1.25rem 
    font-weight: bold 



.fnd-1-4
  position: relative 
  &::before
    content: ''
    position: absolute
    background-color: #263b0b
    z-index: 1
    width: 98%
    height: 100%
    
  &::after
    content: ''
    position: absolute
    z-index: 5
    right: 0px
    top: -5px
    width: 30px
    height: 30px
    border-radius: 5rem
    background-color: #FFCE79
  .tit-3
    position: relative 
    z-index: 1
    color: #fff 
    font-size: 1.25rem 
    font-weight: bold     


.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: #FFF0D6  

.linea-tiempo-d__item.linea-tiempo-d__item--selected
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #FFF0D6

.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after,
  background-color: #12263F      
  border: 2px solid #ffffff

.crd_hover_txt 
  position: relative
  padding: 0!important
  overflow: hidden!important

.crd_hover_txt:hover .crd_hover_txt--body 
  transition: all .5s ease-in-out
  transform: translateY(0)
.crd_hover_txt--img
  height: 400px

.crd_hover_txt .crd_hover_txt--body 
  position: absolute
  padding: 1.5rem
  bottom: 0
  transition: all .5s ease-in-out
  transform: translateY(calc(100% - 3.85rem))
  background-color: #33490B
  p, h4 
    color: #fff
    text-align: center
.crd_hover_txt .crd_hover_txt--body.crd-2
  background-color: #73964A !important

@media (min-width: 1200px) and (max-width:1400px) 
  .crd_hover_txt .crd_hover_txt--body p 
      font-size: 0.85em

.pnt
  
  border-bottom: 2px dotted #AFAFAF